<html>
    <h1>Add a new message</h1>
    <form method="POST" action="/new">
        <input type="text" name="name"/>
        <input type="text" name="message"/>
        <button type="submit">Submit</button>
    </form>
</html>